img{
    width: stretch
}
body {
    text-align: center;
    font-family: 'Monoton';
    background: #fbe0c3;
    font-size: 14px;
    color: 344648;
}

h1 {
    color: 344648;
    font-family: 'Papyrus';
    
}

